.newsletter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/newsletter.jpg');
    background-position: center;
    background-size: cover;
    position: fixed scroll;
    background-repeat: no-repeat;
}

.dropdown{
    animation: Show 0.3s ease-in-out;
}
@keyframes Show {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.blog-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all .4s;
}

.blog-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.slide-1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.288)), url('./images/Carousel/slide-1.jpg');
    background-position: center;
    background-size: cover;
}

.slide-2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.445)), url('./images/Carousel/slide-2.jpg');
    background-position: center;
    background-size: cover;
}

.slide-3 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.445)), url('./images/Carousel/slide-3.jpg');
    background-position: bottom;
    background-size: cover;
}

.slide-text {
    font-family: 'Playfair Display', serif;
}

@media screen and (max-width:768px) {

    .slide-1,
    .slide-2,
    .slide-3 {
        height: 450px !important;
    }
}

.dicount {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);

}

.right-animate {
    animation: right-Animate .7s ease-in;
}

@keyframes right-Animate {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.bredcrumb {
    background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.63)), url('./images/bredcrumb.jpg');
    background-size: cover;
    background-position: center;
}

.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow--left {
    min-height: 80px !important;
    z-index: 9 !important;
    border-radius: 3px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.react-multiple-carousel__arrow--right {
    right: 0 !important;
}

.react-multiple-carousel__arrow--left {
    left: 0 !important;
}

@media screen and (max-width:476px) {

    .react-multiple-carousel__arrow--right,
    .react-multiple-carousel__arrow--left {
        min-height: 45px !important;
        min-width: 30px !important;
        z-index: 9 !important;
        border-radius: 3px !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    }
}